@font-face {
    font-family: diaryTitle;
    src: url(ArtBook-gx4w5.ttf);
}

@font-face {
    font-family: normalFont;
    src: url(Pixabubble-2Xa8.ttf);
}

*{
    font-family: normalFont;
}

body {
    background-color: white;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color:  rgb(135, 195, 255);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(190, 234, 238);
}

.navbar {
    background-color: rgb(190, 234, 238);
    color: white;
    border-radius: 50px;
    font-family: normalFont;
    text-align: center;
    width: 20rem;
    margin: auto;
    transition: width 0.5s ease;
    padding-right:3%;
    padding-left:1%;
    padding-top:5px
}

.navbar:hover {
    width:25rem;
    background-color: rgb(135, 195, 255);
}

.nav {
    list-style: none;
    display: inline-block;
    width: 10%;
    height: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }

.nav li {
    height: 100%;
    display: inline-block;
    font-size: 20px;
    margin: auto;
    color:white;
  }

.nav a{
    text-decoration: none;
    color:white;
}

#search-block {
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px;
    width:10rem;
}

#searchTxt {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 0;
    font-size: 18px;
}

#input-block {
    background-color: rgb(135, 195, 255);
}

.card {
    background-color:rgb(190, 234, 238);
    font-family: normalFont;
    margin:10px;
    padding:30px;
    border-radius:50px;
}

.card-text {
    color: white;
    font-size:20px;
}

.card-title {
    color:rgb(135, 195, 255);
    font-size:25px;
    font-family: normalFont;
}

.card-body button {
    background-color: white;
    border: 0;
    border-radius:10px;
    height: 30px;
    font-family: normalFont;
    font-size: 15px;
    color:rgb(135, 195, 255);
}

#addBtn {
    background-color: white;
    padding:10px;
    border-radius: 15px;
    text-decoration: none;
    color:rgb(135, 195, 255);
    transition: color 0.5s ease;
    transition: background-color 0.5s ease;
}

#addBtn:hover {
    color:white;
    background-color: rgb(135, 195, 255);
}

#addTxt {
    max-width: 100%;
    border-radius: 15px;
    padding:7px;
    border: 0;
}

.noteCard {
    display: inline-block;
    vertical-align: top;
    width: 18rem;
    transition: background-color 0.5s ease;
}

.noteCard:hover {
    background-color: rgb(93, 133, 173);
}


.card-text {
    text-wrap: pretty;
    word-wrap:break-word;
}

.readMore {
    color:rgb(135, 195, 255);
}

.readMore:hover {
    color:white;
}